.screen {
  display: none;
}

.screen.active {
  display: block;
}

.sprite_office {
  background-image: url("assets/desk-chair-light-bin.png");
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.sprite_characters {
  background-image: url("assets/Sanglorians\ trainer\ sprites.png");
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* #hacker {
  padding-bottom: 20px;
  padding-top: 20px;
} */

#yvonne {
  position: absolute;
  top: 400px;
  left: 60vw;
  width: 32px;
  height: 59px;
  background-position: -202px -68px;
  transform: scale(8);
  transform-origin: top left;
  z-index: 1;
}

#start {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}
#start.screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#room.screen.active {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#room > p {
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.193);
  color: white;
  border-radius: 8px;
  padding: 20px 30px;
  /* width: 30vw; */
}
#startButton {
  margin-top: 50px;
  padding: 12px 60px;
  font-size: 36px;
  background-color: #6048c8;
  color: #fff;
  border-radius: 8px;
  box-shadow: 5px 4px 20px 1px #6048c8;
  transition: 0.2s all;
}

/* Adding transformation when the button is active */
#startButton:hover {
  transform: scale(0.98);
  background-color: #231564;
  /* Scaling button to 0.98 to its original size */
  box-shadow: 5px 4px 16px 10px #6048c8;
  /* Lowering the shadow */
}

#room {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(186, 186, 89);
}

#yvonne_framed {
  position: absolute;
  width: 50px;

  top: 360px;
  left: 42vw;
}

/* 
#emmy_framed {
  position: absolute;
  width: 50px;

  top: 360px;
  left: 40vw;
} */

#desk {
  position: absolute;
  top: 500px;
  left: 40vw;
  width: 44px;
  height: 19px;
  background-position: -18px -18px;
  transform: scale(10);
  transform-origin: top left;
}

#chair {
  position: absolute;
  top: 470px;
  left: calc(40vw + 150px);
  width: 14px;
  height: 27px;
  background-position: -1px -10px;
  transform: scale(9.5);
  transform-origin: top left;
}

#trashcan {
  position: absolute;
  top: 550px;
  left: calc(40vw + 450px);
  width: 12px;
  height: 15px;
  background-position: -82px -22px;
  transform: scale(9.5);
  transform-origin: top left;
}

.note {
  display: none;
}

.note.active {
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  transform: scale(2);
  z-index: 1;
}

#note_text {
  margin-top: -290px;
  padding-left: 30px;
  transform: rotate(-4deg);
}

#sticky_note {
  /* display: flex; */
  transform: scale(0.5);
  position: absolute;
}

#sticky_note_text {
  margin-top: -290px;
  padding-left: 30px;
}

#computer {
  position: absolute;
  top: 300px;
  left: calc(40vw + 100px);
}

#login_screen.active {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(193, 85, 226);
}

#login_screen > a {
  padding-bottom: 40px;
}

#login_box {
  padding: 50px;
  background-color: #ab4be7;
  color: white;
  font-family: monospace;
  border-radius: 8px;
}
#input_box {
  display: flex;
  flex-direction: row;
}
#password_input {
  width: 70%;
  padding: 10px;
  font-size: x-large;
  border-radius: 10px;
}

#password_button {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
}

#password_message {
  font-size: large;
}

#computer_screen.active {
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 114, 206, 0.677);
  display: none;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.icon img {
  width: 60px;
  height: auto;
  user-select: none;
  cursor: pointer;
}
