.screen {
  display: none;
}

.screen.active {
  display: block;
}

.sprite {
  background-image: url("assets/desk-chair-light-bin.png");
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#start {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(215, 60, 192, 0.677);
}
#start.screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start > p {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  padding-left: 20vw;
  padding-right: 20vw;
}
#startButton {
  padding: 12px 40px;
  font-size: 36px;
  background-color: rgb(164, 13, 109);
  color: #fff;
  border-radius: 8px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s all;
}

/* Adding transformation when the button is active */
#startButton:hover {
  transform: scale(0.98);
  background-color: rgb(197, 19, 132);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

#room {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(186, 186, 89);
}

#desk {
  position: absolute;
  top: 500px;
  left: 40vw;
  width: 44px;
  height: 19px;
  background-position: -18px -18px;
  transform: scale(10);
  transform-origin: top left;
}

#chair {
  position: absolute;
  top: 470px;
  left: calc(40vw + 150px);
  width: 14px;
  height: 27px;
  background-position: -1px -10px;
  transform: scale(9.5);
  transform-origin: top left;
}

#computer {
  position: absolute;
  top: 300px;
  left: calc(40vw + 100px);
}

#computer_screen {
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 114, 206, 0.677);
  display: none;
  padding: 20px;
}

.desktop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.icon img {
  width: 60px;
  height: auto;
  user-select: none;
  cursor: pointer;
}
